<div class="container">
<h1>Stupid Coaching</h1>
  <div class="callout">
    <%= @questions %><br>
    <p><em>-You</em></p>
  </div>
  <div class="callout answer">
    <b><%= @answer %><br></b>
    <p><em>-Your coach</em></p>
  </div>
  <%= link_to "Ask another question", ask_path %>
</div>
